.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* css reset */
/* ////// */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



 /* mainheadercss */

.main-header-container {
  width: 100%;
  height: 64px;
  /* position: absolute; */
  background-color: #147bcd;
  background: linear-gradient(#51a9ee,#147bcd);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-header-menu-wrap {
  display: flex;
  width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
}

.main-header-menu-left {
  font-size: 32px;
  font-family: Helvetica;
  font-weight: 600;
  color: white;
}

.menu-right {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 334px;
  font-family: Helvetica;

}

.log-in-header-div button{
  height: 37px;
  width: 65px;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-left: 0px;
}

.log-in-header-div:hover {
  border-bottom: 2px solid white;
}
.log-in-header-div2 button{
  height: 37px;
  width: 44px;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-left: 0px;
}
.world-logo{

  /* position: relative;
  top: -8px;
  margin: 2px; */

    position: relative;
  top: -2px;
  margin: -7px;
}

.log-in-header-div2:hover {
  border-bottom: 2px solid white;
}
.about-us-header-div button{
  height: 37px;
  width: 100px;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-left: 0px;
}

.about-us-header-div:hover {
  border-bottom: 2px solid white;
}
.sign-up-header-div button{
  height: 37px;
  width: 104px;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-left: 0px;
}

.sign-up-header-div button:hover {
  background-color: white;
  color: #999999;
}

.main-header-divider {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 20px;
  width: 1px;
  /* margin-left: 17px;
  margin-right: 17px; */
  background-color: white;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

/* LOG IN/SIGN UP FORM */

/* .background-container {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
} */
.background-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 1020px;
}


/* Flight */

.flight-info-main-container {
  display: flex;
}

.flight-info-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 1px solid black;
  margin: 20px;
}

.flight-info {
  line-height: 1.5em;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Arial, sans-serif;
}

.sign-up-container {
  /* background-color: red; */
  /* height: 630px; */
  /* width: 400px; */
  padding: 20px;
  /* border: 1px solid #e6e6e6; */
}

.auth-main {
  /* opacity: 0.75; */
  background: linear-gradient(transparent, white);
  /* background-color: white; */
  width: 300px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: 60px;
  margin-left: 120px;
  border: 1px groove black;
  border-radius: 5px;
  padding: 25px;
}

auth-holder

.signup-form-bot-container {
  display: flex;
  flex-direction: column;
}

.signup-form-bot {
  display: flex;
  flex-direction: column;
}
.signup-form-bot input {
  margin-bottom: 9px;
  font-size: 14px;
  padding: 5px 9px;
  border: 1px solid #999;
  border-radius: 3px;
}

.sign-up-button {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid;
  padding: 12px 18px 13px;
  background-color: #147bcd;
  background: linear-gradient(#51a9ee,#147bcd);
  color: white;
  border-color: #282c34;
}

.fine-print {
  color: #999;
  font-weight: normal;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.signup-title {
  color: #0073bb;
  width: 280px;
}

.link {
  text-decoration: none;
  color: #0066c0;
  cursor: pointer;
}
/* Maps CSS */

.google-map {
  display: absolute;
  height: 100vh;
  width: 100vw;
}

.selector-control {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 13px;
}

/* Sidebar Container */

.sidenav {
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  overflow-x: hidden;
  transition: 1.2s;
  padding-top: 60px;
  height: 100vh;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  font-size: 36px;
  margin-left: 50px;
  width: 35px;
  height: 35px;
  top: 15px;
  right: 15px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.location-container {
  text-align: left;
  font-size: 30px;
  font-family: serif;
  padding-left: 75px;
  padding-bottom: 2px;
  padding-top: 15px;
}

.aboutus-container {
  background-color: #fff;
  height: 210px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin: 18px;
  border: 1px solid #E6E6E6;
  box-shadow: 1px 0px 3px 1px #bcbcbc;
}


.flights-container {
  background-color: #fff;
  height: 425px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin: 18px;
  border: 1px solid #E6E6E6;
  box-shadow: 1px 0px 3px 1px #bcbcbc;
}


.hotels-container {
  background-color: #fff;
  height: 305px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin: 18px;
  border: 1px solid #E6E6E6;
  box-shadow: 1px 0px 3px 1px #bcbcbc;
}

.dropdown-categories {
  line-height: 26px;
  padding-left: 20px;
}

.drink-icon {
  height: 30px;
  width: 30px;
  padding-left: 18px;
}

.wifi-icon {
  height: 30px;
  width: 30px;
  padding-left: 18px;
}

.hotel-icon {
    height: 130px;
    width: 130px;
  position: absolute;
  right: 50px;
  margin-top: -30px;
}

.hotel-name {
  font-size: 31px;
  font-weight: 600;
  font-family: serif;
}

.hotel-location {

}

.hotel-rating {
  padding-right: 10px;
  display: table-cell;
  width: 100%;
  white-space: normal;
  padding-bottom: 20px;
  padding-top: 22px;
  font-size: 18px;
  font-family: cursive;
}

.hotel-name-container {
  color: #000;
  font-size: 15px;
  line-height: 16px;
  padding-bottom: 2px;
  white-space: normal;
}

.hotels-inside-container {
  padding-left: 45px;
  padding-bottom: 16px;
  padding-top: 25px;
}

.hotel-price {
  font-size: 28px;
  font-weight: 500;
  font-family: serif;
  padding-left: 43px;
  position: absolute;
  padding-top: 18px;
}

.hotels-inside-container-2 {
  height: 250px;
  padding: 50px;
  padding-right: 160px;
  letter-spacing: 1px;
}

.rating-img {
  width: 90px;
  padding-left: 16px;
}

.optional-breakfast {
  padding-left: 15px;
}

.optional-wifi {
  padding-left: 45px;
}

.open-button {
  position: absolute;
  z-index: 10;
  top: 12px;
  width: 31px;
  height: 31px;
  left: 25px;
}

.open-button-container {
  position: relative;
}
